@import "assets/styles/variable.scss";

.button {
  border-radius: 30px;
  padding: 3px 12px;
  background-color: $blueColor;
  color: $whiteColor;
  border: 2px solid $accentColor;
  font-size: $mediumFontSize;
  font-family: $baseFontFamily;
  font-weight: 600;
  transition: 0.2s;

  &:hover {
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  &:active {
    background-color: darken($color: $blueColor, $amount: 10%);
  }
}

.button.white-btn {
  background-color: $whiteColor;
  color: $accentColor;

  &:active {
    background-color: darken($color: #fff, $amount: 10%);
  }
}
