@import "assets/styles/variable.scss";

.home-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  background-color: $blueColor;

  &__logo {
    background-color: #1a2d44;
    padding: 7px 13px 6px;
    color: #fefef1;
    border-radius: 30px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 40px;
  }

  &__header {
    height: 85px;
    width: 100%;
    background-color: $whiteColor;
    box-shadow: -1px 5px 1px -1px rgba(0, 0, 0, 0.2);
  }

  &__header-col {
    display: flex;
    align-items: center;
  }

  &__header-content {
    display: flex;
    height: 100%;
    justify-content: space-between;
  }

  &__hero-section {
    height: 500px;
    width: 100%;
  }

  &__content {
    flex: 1;
    width: 100%;
    background-color: $accentColor;
    color: $whiteColor;
    box-shadow: 1px -2px 4px 2px rgba(0, 0, 0, 0.2);
  }

  .menu {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $headingsFontSize;
    margin-right: 50px;

    &__link {
      text-decoration: none;
      color: $accentColor;
      font-weight: 700;
      font-family: $secondFontFamily;
    }

    &__list {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__item {
      margin-right: 41px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__login-buttons {
    width: 295px;
    display: flex;
    justify-content: space-between;
  }

  .button {
    border-radius: 30px;
    padding: 6px 15px 6px;
    background-color: $blueColor;
    color: $whiteColor;
    border: 2px solid $accentColor;
    font-size: $largeFontSize;
    font-family: $baseFontFamily;
    font-weight: 600;
  }

  .button.white-btn {
    background-color: $whiteColor;
    color: $accentColor;
  }
}
