@import "assets/styles/variable.scss";

.card {
  position: relative;
  width: 154px;
  height: 205px;
  background: linear-gradient(
    180deg,
    $blueColor 0%,
    $whiteColor 54%,
    $whiteColor 100%
  );
  border-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  transition: 0.2s;
  justify-content: space-between;
  color: $accentColor;

  &:hover {
    transform: scale(1.1);
  }

  &::before {
    content: "";
    background-image: url("/assets/images/bitcoin1.png");
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(-39%, -36%);
    height: 45px;
    width: 45px;
  }

  &::after {
    content: "";
    background-image: url("/assets/images/bitcoin2.png");
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translate(39%, -36%);
    height: 32px;
    width: 32px;
  }

  &__image {
    height: 75px;
    width: 75px;
  }

  &__heading {
    font-size: $largeFontSize;
    margin-bottom: 7px;
  }

  &__subtitle {
    font-size: $mediumFontSize;
    margin-bottom: 5px;
  }

  &__text {
    font-size: $smallFontSize;
    margin-bottom: 12px;
  }
}
