$accentColor: #1a2d44;
$blueColor: #37aec9;
$darkBlueColor: #27405c;
$yellowColor: #fed286;
$whiteColor: #fefef1;
$darkGreyColor: #1e1e1c;
$greyColor: #3a393e;
$lightGreyColor: #ebebeb;
$mediumGreyColor: #c4c4c4;

$textColor: #252525;
$whiteTextColor: #f7ffff;

$smallFontSize: 11px;
$mediumFontSize: 14px;
$largeFontSize: 16px;
$headingsFontSize: 20px;

$baseFontFamily: "Prompt", sans-serif;
$secondFontFamily: "Unbounded", sans-serif;
